version: "3.7"
services:
  library:
    image: library-api:latest
    container_name: library-api
    build: .
    restart: always
    ports:
      - 6565:6565
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://psmis-db:5440/library_db
      SPRING_DATASOURCE_USERNAME: psmis
      SPRING_DATASOURCE_PASSWORD: psmisDb@2025
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      GATEWAY_URL: "http://user-management:6060"
      GATEWAY_AUTH_LOGIN: "http://user-management:6060/api/login"
      GATEWAY_AUTH_VERIFY: "http://user-management:6060/api/auth/verify"

      # Temporarily disable MinIO
      MINIO_ENABLED: "false"
      MINIO_URL: "http://102.214.44.250:9005"
      MINIO_ACCESS_KEY: "admin"
      MINIO_SECRET_KEY: "Zi@@t@2025"
      MINIO_BUCKET_COVER: "books-cover"
      MINIO_BUCKET_ATTACHMENT: "books-attachment"
    networks:
      - ziaat_default

networks:
  ziaat_default:
    external: true

###
#version: "3.7"
#services:
#  learning:
#    image: learning-api:latest
#    container_name: learning-api
#    build: .
#    restart: always
#    ports:
#      - 6062:6062
#    env_file:
#      - /usr/local/environment/.env
#    volumes:
#      - /usr/local/environment/.env:/usr/local/environment/.env
#    environment:
#      - DOTENV_PATH=/usr/local/environment/.env
##    volumes:
##      - /home/development/documents/hrmis:/home
#networks:
#  default:
#    external:
#      name: ziaat_default
#
#
